<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.webServer>
        <aspNetCore processPath="%LAUNCHER_PATH%">
            <environmentVariables>
                <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
            </environmentVariables>
        </aspNetCore>
    </system.webServer>
</configuration>